.glowing-text {
  animation: glowFade 2s ease-in-out forwards;
  opacity: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.6),
    0 0 30px rgba(0, 123, 255, 0.5);
  color: #000;
}

@keyframes glowFade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;   /* nearly full width */
    margin: 1rem auto !important;/* reduced top/bottom gutters */
  }
}